@import 'node_modules/modern-normalize/modern-normalize.css';

/*Global styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 23, 29);
  background-image: url("./images/bg-stars.svg");
  background-size: auto;
  scroll-behavior: smooth;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Colours */
:root {
--grayish-blue: hsl(237, 18%, 59%);
--soft-red: hsl(345, 95%, 68%);
--dark-desaturated-blue: hsl(236, 21%, 26%);
--very-dark-blue: hsl(235, 16%, 14%);
--very-dark-purple: hsl(234, 17%, 12%);
--white-text: hsl(0, 0%, 100%);
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");

.font-RedHatText-400 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.font-RedHatText-700 {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

/*App*/
.app {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white; /*this can be removed later*/
}

/*#region Sidebar*/
aside {
  width: 0vw;
  height: 100vh;
  background-color: rgb(47, 36, 57);
  position: relative;
  transition: 0.8s;
  overflow-x: hidden;
  z-index: 1;
}

aside.open {
  width: 35vw;
}

aside .content {
  margin-top: 100px;
  min-width: 35vw;
}

.open-close-btn {
  width: 50px;
  height: 50px;
  top: 15px;
}
.open-close-btn:hover {
  cursor: pointer;
}

#sidebar-close-btn {
  position: absolute;
  right: 15px;
}
#sidebar-close-btn:hover {
  right: 20px;
}

#sidebar-open-btn {
  position: fixed;
  left: 15px;
}
#sidebar-open-btn:hover {
  left: 20px;
}
/*#endregion*/

/*#region signup_side*/
.white-header {
  color: var(--white-text)
}

.credentials  {
  color: var(--soft-red);
  letter-spacing: 4px;
  font-size: 10px;
  padding-left: 10px;
}

#sign-up-sidebar  {
  margin: 200px 50px 50px 50px;
}

#sign-up-form {
  width: 100%;
}

.form-field {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: left;
}

.form-field input {
  background-color: var(--dark-desaturated-blue);
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#sign-up-button {
  background-color: var(--soft-red);
  border: none;
  border-radius: 5px;
  padding: 5px 25px 5px 25px;
  margin-top: 20px;
  color: var(--white-text);
  font-size: 12px;
  letter-spacing: 4px;
  box-shadow: 1px 2px black;
}
/*#endregion*/

/*#region Main Countdown Area*/

main {
  width: 100vw;
  height: 100vh;
  transition: 0.8s;
  overflow-x: hidden;
}

main.open {
  width: 65vw;
}
/*#endregion*/

/*#region Mobile page layout*/
@media screen and (max-width: 800px) {
  aside.open {
    width: 100vw;
  }

  aside .content {
    min-width: 100vw;
  }

  main .content {
    min-width: 100vw;
  }

  main.open {
    width: 0vw;
  }
}
/*#endregion*/

/*#region Footer*/
footer {
  height: 20vh;
  margin-top: auto;
  background-image: url("images/pattern-hills.svg");
  background-size: cover;
  text-align: center;
  vertical-align: bottom;
}
/*#endregion*/


/* Social icons*/
