/*Global styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import url(https://fonts.google.com/specimen/Red+Hat+Text);

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(29, 23, 29);
  background-image: url("./images/bg-stars.svg");
  background-size: auto;
  scroll-behavior: smooth;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Colours */
:root {
--grayish-blue: hsl(237, 18%, 59%);
--soft-red: hsl(345, 95%, 68%);
--dark-desaturated-blue: hsl(236, 21%, 26%);
--very-dark-blue: hsl(235, 16%, 14%);
--very-dark-purple: hsl(234, 17%, 12%);
--white-text: hsl(0, 0%, 100%);
}

/*App*/
.app {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

/*Sidebar*/
aside {
  width: 35vw;
  height: 100vh;
  background-color: rgb(47, 36, 57);
}

/*Main Countdown Area*/
main {
  width: 65vw;
  height: 100vh;
}

/*Mobile page layout*/
@media screen and (max-width: 800px) {
  aside {
    width: 100vw;
    height: 100vh;
    display: none; /*hidden for now*/
  }

  main {
    width: 100vw;
    height: 100vh;
  }
}


/* Footer*/
footer {
  height: 20vh;
  margin-top: auto;
  background-image: url("images/pattern-hills.svg");
  background-size: cover;
  text-align: center;
  vertical-align: bottom;
}

/* Social icons*/
